/* Styles for layout */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #060818;
    color: white;
    font-size: 16px; /* Base font size for the body */
    background-color: #2d4f6e;
}

header {
    background-color: #1c305280;
    color: white;
    padding: 20px;
    text-align: center;
    border-left: 1px solid #ccc;
    box-shadow: inset 0 50px 25px -15px #216ca6;
    background-color: #174b73;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    box-sizing: border-box;
}

.column {
    padding: 2%;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    /* background-color: #195a8d; */
    margin-bottom: 20px;
    font-size: 18px; /* Adjusting the font size for columns */
    box-shadow: inset 20px 20px 25px -15px #297cbb;
    background-color: #174b73;
}

/* Styling for the calculator */
.calculator {
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-color: #0c314d;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    justify-content: center;
    padding: 20px;
    gap: 10px;
    width: 80%; /* Set the width to occupy 80% of the screen */
    margin: auto; /* Center horizontally */
    background-image: url(https://img.freepik.com/free-vector/dark-gradient-background-with-copy-space_53876-99548.jpg?w=1480&t=st=1700185773~exp=1700186373~hmac=d806e868b4776923d7265a4afe236e5058770ed59e7433c7c6b186c4f13fbb9e);
}

/* Adjusting margin for input elements */
.calculator input[type="number"],
.calculator select {
    margin: 4px 5px; /* Set margin as needed */
    box-shadow: 0em 0.3125em 0.625em rgba(0,0,0,0.3);
    background-color: #fff;
    padding: 6px 10px !important;
}


/* Media query for smaller screens */
@media screen and (max-width: 767px) {
    .calculator {
        width: 90%; /* Adjust the width for smaller screens */
    }
}



/* Styling for the result pop-up */
.result {
    display: none; /* Initially hide the result pop-up */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-color: #0f1726;
    font-size: 18px;
    padding: 20px;
    gap: 10px; /* Spacing between items */
    background-color: #1a5684;
}

/* Individual items inside the result pop-up */
.result p {
    margin: 2px 2px;
    padding: 5px;
    font-size: .875em;
    border-radius: 8px;
    box-shadow: inset 0 50px 25px -15px #216ca6;
    background-color: #174b73;
    height: 29px;
    line-height: 11px;
    color: #fff;
    transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
    border-width: 2px 0px 2px 0px;
    border: white;
    background: bottom;
}

p {
    color: white;
    align-content: center;
}


/* Styles for the close button */
.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
     /* Set a red border */
    padding: 5px; /* Add some padding for better appearance */
    border-radius: 30%; /* Make it a circle by adjusting border-radius */
    box-shadow: inset 0 50px 25px -25px #84b332;
    background-color: #668a28;
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
}

.close-btn:hover {
    color: #ccc; /* Change color on hover */
    border-color: #ccc; /* Change border color on hover */
}


/* Media query for mobile devices */
@media screen and (max-width: 767px) {
    .result {
        width: 90%; /* Adjust width for mobile */
        display: block; /* Show the result section */
        margin: auto; /* Center horizontally */
        top: 20px; /* Remove top positioning */
        left: unset; /* Remove left positioning */
        transform: unset; /* Remove transform */
    }
}



button {
    display: block;
    padding: 15px 40px; /* Adjusting padding to create a standard button size */
    background-color: #6b9420;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-left: 1px solid #ccc;
    vertical-align: bottom;
    text-align: left;
    font-size: 15px;
    line-height: 11px;
    color: #fff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effects */
.column:hover,
/* Media query for mobile devices */
@media screen and (max-width: 767px) {
    .container {
        flex-direction: column; /* Change to a column layout for mobile */
    }

    .column1,
    .column2 {
        width: 100%;
    }

    .result {
        display: block; /* Show the result section */
        margin-top: -20px; /* Adjust margin for better spacing */
    }
    
}
